/*web*/
body {
   font-size: 1.2rem;
   line-height: 1.86;
}

/*home slider*/
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li  {
   filter: invert(100%);
}

.carousel-indicators {
   position: absolute;
   bottom: -50px;
}

.home-slider .h2, h2 {
   font-size: 1.2rem;
   line-height: 1.5;
   margin-bottom: 5px;
   text-align: center;
}

.home-slider .jumbotron-silder {
   padding-top: 0;
   padding-bottom: 0;
   background-color: rgb(255,255,255);
}

.home-slider a {
   color: #212529;
}

.navbar-brand {
   font-size: 1.5rem;
   font-weight: 500;
}

/*home blogs*/
.card-body {
   padding: 0rem;
}

.home-blogs .post-card a {
   color: #212529;
   line-height: 1.5;
}

.home-blogs .post-card p {
   line-height: 1.5;
}

/*home footer*/
.home-footer a {
   color: #212529;
}

/*post*/
.article-post p {
   font-size: 1.3rem;
 }

.jumbotron-post {
   background-color: white;
   padding-top: 0;
   padding-bottom: 0;
}

.jumbotron-post .row {
   margin-right: 0;
   margin-left: 0;
}

.jumbotron-post .jumbotron-info {
   padding-right: 15px;
   margin-right: 0;
   padding-left: 15px;
}

.jumbotron-post .jumbotron-image {
   padding-right: 0px;
   padding-left: 0px;
}

/*home pagination*/
.pagination a {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;
  }

.pagination span {
   padding: 5px 18px 10px 18px;
   background-color: #ecf0f1;
}

/*related post*/
.relatedPosts a {
   color: #212529;
}

.h-divider {
   height:1px;
   width:100%;
   border-top:1px solid #ecf0f1;
}

/*Code block*/
pre {
   background: #263238;
}

pre code {
   color: #A3B2B5;
}

.navbar-brand {
   font-size: 1.5rem;
   font-weight: 500;
}

/*Other*/

.categories-posts .post-card a {
   color: #212529;
   line-height: 1.5;
}

.tags-posts .post-card a {
   color: #212529;
   line-height: 1.5;
}

mark, .mark {
   padding: 0.2em;
   background-color: #263238;
   color: azure;
}

.article-post img {
   width: 100%;
}

.article-post iframe {
   width: 100%;
   height: 315px;
}


/*responsive*/
@media (min-width: 576px) {
   .home-slider .h2, h2 {
      font-size: 1.2rem;
      margin-bottom: 7px;
      text-align: left;
}
@media (min-width: 768px) {
   .home-slider .h2, h2 {
      font-size: 1.7rem;
      margin-bottom: 10px;
      text-align: left;
}
@media (min-width: 992px) {
   .home-slider .h2, h2 {
      font-size: 2.5rem;
      margin-bottom: 15px;
      text-align: left;
}
@media (min-width: 1200px) {
   .home-slider .h2, h2 {
      font-size: 3rem;
      margin-bottom: 15px;
      text-align: left;
}