---
layout: default
---
{{ content }}        
<section class="py-5 categories">

<div class="container">
          <h2 class="font-weight-bold spanborder"><span>Categories</span></h2>
          <div class="row mb-5 taxonomy__index">
          {% assign categories_max = 0 %}
          {% for category in site.categories %}
            {% if category[1].size > categories_max %}
              {% assign categories_max = category[1].size %}
            {% endif %}
          {% endfor %}
          {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
              <div class="list-group col-md-3 mb-1">
              <a class="list-group-item list-group-item-action font-weight-bold " href="#{{ category[0] | slugify }}"><strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span></a>
              </div>
              {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
  </div>

  <div class="container categories-posts">
    {% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
    <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="mt-3 mb-5 text-center"><mark>#{{ category[0] }}</mark></h2>
    <div class="card-deck">
      {% for post in category.last %}
      <div class="col-md-4 mb-5">
      <div class="card border-0"><a href="{{site.baseurl}}{{post.url}}"><img class="card-img-top mb-2" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"></a>
        <div class="card-body post-card">
          <div class="category-list mb-3">
            {% for category in post.categories %}
            <a class="btn btn-light btn-sm font-weight-bold" href="#">{{ category }}</a>
            {% endfor %}
          </div>
          <h5 class="card-title my-2"><a class="font-weight-bold" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h5>
          <p><small class="text-secondary">{{ post.excerpt | strip_html | strip_newlines | truncate: 80 }}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}     
       </div>
      </section>
       {% endif %}
       {% endfor %}
     {% endfor %}

       <div class="mt-5 home-pagination">
        <!-- Pagination links -->
           {% if paginator.total_pages > 1 %}
           <ul class="pagination justify-content-center"> 
             {% if paginator.previous_page %}
               <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
             {% else %}
               <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
             {% endif %}

             {% for page in (1..paginator.total_pages) %}
               {% if page == paginator.page %}
               <li class="page-item disabled"><span>{{ page }}</span></li>
               {% elsif page == 1 %}
               <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
               {% endif %}
             {% endfor %}

             {% if paginator.next_page %}
               <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
             {% else %}
               <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
             {% endif %}
           </ul>
           {% endif %}
    </div>
  </div>
</section>
